/* ************************************************* */
/* *************     G E N E R A L     ************* */
/* ************************************************* */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.debug {
  background-color: rgba(238, 26, 11, 0.1);
}

.mc_colorwhite {
  color: white;
}

.mc_colorgrey {
  color: #7B7B7A;
}

.mc_margin_left {
  margin-left: 10px;
}
.mc_margin_right {
  margin-right: 20px;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.container-general {
  position: relative;
  width: 100%;
  height: 100vh;
}

/* ///////////////////////////////////////////////// */
/* //////////////    G E N E R A L     ///////////// */
/* ///////////////////////////////////////////////// */


/* ************************************************* */
/* ***************     M  A  I  N  ***************** */
/* ************************************************* */

main{
  max-width: 100%;
  height: calc(100vh - 90px);
  background-color: #3e68b6;
}

main::after {
  content: "";
  display: table;
  clear: both;
}

/* *****    M  A I N   N  A  V   ******* */
main .main-nav {
  float: left;
  width: 230px;
  height: 100%;
  background-color: darksalmon;
}

main .main-nav .nav-top{
  height: calc(100% - 80px);
  background-color: #A6F52D;
}

main .main-nav .nav-top .nav-logo-mobile{
  display: none;
}

main .main-nav .nav-bottom{
  height: 80px;
  background-color: royalblue;
}
/* /////    M  A I N   N  A V  ////////*/

/* *****    M  A I N   C O N T E N T   ******* */
main .m_content {
  float: left;
  width: calc(100% - 230px);
  height: 100%;
  background-color: deeppink;
  overflow-y: auto;
}

main .m_content .call-to-action {
  height: 90px;
  background-color: rgba(14, 7, 7, 0.8);
  position: fixed;
  width: calc(100% - 230px);
  z-index: 1;
}

main .covers {
  padding: 20px;
  padding-top: 95px;  
}

.mc_btn {
  margin: 10px;
  margin-right: 48px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  padding: 10px 34px;
  border-radius: 19px;
  border-color: transparent;
}

/* /////    M  A I N   C O N T E N T  ////////*/

/* ///////////////////////////////////////////////// */
/* //////////////   M   A   I   N      ///////////// */
/* ///////////////////////////////////////////////// */
                        /*  */
                        /*  */
                        /*  */
                        /*  */
                        /*  */
/* ************************************************* */
/* ***************     F  O O T E R   ************** */
/* ************************************************* */
footer {
  height: 90px;
  background-color: #282828;
}

footer #player {
  display: flex;
  /* flex-shrink: 0; */
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

footer #player ul{
  list-style: none;
}

footer #player a{
  text-decoration: none;
  color: white;
}

footer #player a:hover {
  color: #A6F52D;
}

/* ********** P L A Y E R   S O N G *********/
#player .song {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#player .song .song_image {
  height: 90%;
}

#player .song .song_image img {
  height: 100%;
  margin-right: 10px;
}

#player .song .song_name {
  margin-right: 10px;
}

#player .song .song_name h4{
  font-weight: 600;
  color: white;
}

#player .song .song_name p{
  font-size: 0.8em;
  color: #7B7B7A;
}

#player .song .song_fawsome .mc_f_awsome{
  padding: 5px;
}
/* /////////// P L A Y E R   S O N G  /////////*/

/* *********** P L A Y E R   C O N T R O L S  ********/
#player .controls {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#player .controls .controls_button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

#player .controls .controls_button ul li {
  display: inline-block;
  padding: 0 15px;
  font-size: 1.2em;
  vertical-align: middle;
}

#player .controls .controls_timing {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#player .controls .controls_timing .time {
  color: #999999;
  font-size: 12px;
  padding-right: 20px;
  padding: 0 5px;
}

#player .controls .controls_timing .timing_barr {
  height: 5px;
  width: 500px;
  border-radius: 5px;
  background-color: #99999A;
  cursor: pointer;
}

#player .controls .controls_timing .timing_barr:hover .barr{
  background-color: #A6F52D;
}

#player .controls .controls_timing .timing_barr .barr {
  position: relative;
  height: 100%;
  width: 20%;
  border-radius: 5px;
  background-color: white;
}

.controls_timing .barr_point {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: white;
  display: none;
}

.timing_barr:hover .barr_point {
  display: block;
}
/* ///////// P L A Y E R   C O N T R O L S  /////////*/

/* ****** P L A Y E R   A U D I O   V O L U M E  *****/
#player .volume {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#player .volume .volume_menu {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#player .volume .volume_menu li {
  padding-left: 15px;
}

#player .volume .volume_menu .volume_audio {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#player .volume .volume_menu .volume_audio a {
  padding-right: 10px;
}

/* qui creiamo la barra totale dell'volume */
#player .volume .volume_menu .volume_audio .volume_barr {
  height: 5px;
  width: 100px;
  border-radius: 5px;
  background-color: #99999A;
  cursor: pointer;
}

#player .volume .volume_menu .volume_audio .volume_barr .barr {
  position: relative;
  height: 100%;
  width: 25%;
  border-radius: 4px;
  background-color: white;
}

#player .volume .volume_menu .volume_audio .volume_barr:hover .barr {
  background-color: #A6F52D;
}

.volume_barr .barr .barr_point {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: white;
  display: none;
}

.volume_barr:hover .barr_point {
  display: block;
}
/* ****** P L A Y E R   A U D I O   V O L U M E  *****/

/* ///////////////////////////////////////////////// */
/* //////////////    F  O O T E R      ///////////// */
/* ///////////////////////////////////////////////// */
                        /*  */
                        /*  */
                        /*  */
                        /*  */
/* ************************************************* */
/* *******     M E D I A    Q U E R I E S   ******** */
/* ************************************************* */

/* // x-Small devices  */
@media all and (max-width: 575px) {
  /* body {
    background-color: red;
  } */
  main .main-nav .nav-top .nav-logo-mobile{
    display: block;
  }
  main .main-nav .nav-top .nav-logo{
    display: none;
  }
  main .main-nav {
    width: 50px;
  }
  main .m_content {
    width: calc(100% - 50px);
  }
  main .m_content, main .m_content .call-to-action {
    width: calc(100% - 50px);
  }
  #player .song .song_image {
    display: none;
  }
  #player .song .song_name {
    margin-right: 0px;
  }
  #player .song .song_name h4{
    font-size: smaller;
  }
  #player .song .song_name p{
    font-size: smaller;
  }
  #player .song_fawsome .far.fa-heart.mc_f_awsome,
  #player .song_fawsome .far.fa-folder.mc_f_awsome {
    display: none;
  }
  #player .volume .fas.fa-desktop,
  #player .volume .fas.fa-list-ul {
    font-size: 0.7em;
  }
  #player .controls .controls_button ul li {
  padding: 5px;
  font-size: 0.7em;
  }
  #player .controls .controls_timing .timing_barr {
    width: 70px;
  }
  #player .volume .volume_menu .volume_audio .volume_barr {
    display: none;
  }
}

/* // Small devices (landscape phones, 576px and up)  */
@media all and (min-width: 576px) {
  /* body {
    background-color: blue;
  } */
  #player .song_fawsome .far.fa-heart.mc_f_awsome,
  #player .song_fawsome .far.fa-folder.mc_f_awsome {
    font-size: 1em;
    display: block;
  }
  #player .song .song_image {
    display: block;
    height: 50%;
  }
  #player .controls .controls_button ul li {
    padding: 5px;
    font-size: 1em;
    }
  #player .controls .controls_timing .timing_barr {
    width: 200px;
  }
  #player .volume .volume_menu .volume_audio .volume_barr {
    width: 60px;
  }
  #player .volume .volume_menu .volume_audio .volume_barr {
    display: none;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media all and (min-width: 768px) {
  #player .volume .volume_menu .volume_audio .volume_barr {
    width: 100px;
  }
  #player .song .song_image {
    height: 90%;
  }
  #player .volume .fas.fa-desktop,
  #player .volume .fas.fa-list-ul {
    display: block;
  }
  #player .volume .volume_menu .volume_audio .volume_barr {
    display: block;
  }
}

/* // Large devices (desktops, 992px and up) */
@media all and (min-width: 992px) {
  /* body {
    background-color: rgba(245, 231, 231, 0.822);
  } */
  #player .controls .controls_timing .timing_barr {
    height: 5px;
    width: 500px;
    border-radius: 5px;
    background-color: #99999A;
    cursor: pointer;
  }
}

/* ///////////////////////////////////////////////// */
/* /////////   M E D I A    Q U E R I E S    /////// */
/* ///////////////////////////////////////////////// */