/* ************************************************* */
/* *************     G E N E R A L     ************* */
/* ************************************************* */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.debug {
  background-color: rgba(238, 26, 11, 0.1);
}

.mc_colorwhite {
  color: white;
}

.mc_colorgrey {
  color: #7B7B7A;
}

.mc_margin_left {
  margin-left: 20px;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.container-general {
  position: relative;
  max-width: 100%;
    height: 100vh;
}

/* ///////////////////////////////////////////////// */
/* //////////////    G E N E R A L     ///////////// */
/* ///////////////////////////////////////////////// */


/* ************************************************* */
/* ***************     M  A  I  N  ***************** */
/* ************************************************* */

main{
  max-width: 100%;
  height: calc(100vh - 80px);
  background-color: #141922;
}

/* ***** A  S  I  D  E ******* */
aside {
  width: 260px;
  height: calc(100vh - 80px);
  position: fixed;
  background-color: #A6F52D;
}
/* /////// A  S  I  D  E //////*/

/* *****    M  A I N   C O N T E N T   ******* */
#main-content {
  background-color: blanchedalmond;
  margin-left: 260px;
  height: 100%;
  position: relative;
}

#main-content .nav-fixed {
  position: fixed;
  width: calc(100% - 260px);
  text-align: right;
  background-color: rgba(14, 7, 7, 0.8);
}

.mc_btn {
  margin: 10px;
  margin-right: 48px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  padding: 10px 34px;
  border-radius: 19px;
  border-color: transparent;
}

.main-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-wrap: wrap;
  overflow-y: auto;
  padding: 20px;
  padding-top: 65px;
}



/* /////    M  A I N   C O N T E N T  ////////*/

/* ///////////////////////////////////////////////// */
/* //////////////   M   A   I   N      ///////////// */
/* ///////////////////////////////////////////////// */


/* ************************************************* */
/* ***************     F  O O T E R   ************** */
/* ************************************************* */
footer {
  height: 80px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  background-color: #282828;
  color: #fff;
  padding-bottom: 10px;
}

.footer-left, .footer-center, .footer-right {
  display: flex;
  /* flex-shrink: 0; */
}

.footer-container .icon{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  color: #fff;
  height: 100%;
}

.footer-container  .mc_f_awsome { 
  cursor: pointer;
}

.footer-container .mc_f_awsome:hover {
  color: #A6F52D;
}
/****** F O O T E R   L E F T  ******/
.footer-left .mc_box {
  width: 70px;
  height: 100%;
  padding: 10px;
}

.footer-left img {
  height: 100%;
}

.footer-left p {
  line-height: 17px;
}

.footer-left p:first-child{
  font-weight: 600;
}

.footer-left p:last-child{
  font-size: 0.8em;
  color: #7B7B7A;
}
/*/////// F O O T E R   L E F T  ///////*/

/**********F O O T E R   C E N T E R ********/
.footer-center .icon.music {
  justify-content: center;
  height: 50%;
}

.footer-center .icon.music.top {
  padding-top: 25px;
}

.footer-center span {
  font-size: 0.5em;
}

.footer-center .mc_timing {
  width: 320px;
  height: 6px;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #7B7B7A;
  cursor: pointer;
}

.footer-center .mc_timing::after {
  position: absolute;
  content: "";
  width: 71px;
  height: 6px;
  border-radius: 5px;
  background-color: white;
}

.footer-center .mc_timing:hover.mc_timing::after {
  background-color: #A6F52D;
}
/*/////// F O O T E R   C E N T E R ///////*/

/****** F O O T E R   R I G H T ******/
.footer-right .mc_timing {
  width: 140px;
  height: 6px;
  border-radius: 5px;
  margin-left: 20px;
  background-color: #7B7B7A;
  cursor: pointer;
}

.footer-right .mc_timing::after {
  position: absolute;
  content: "";
  width: 35px;
  height: 6px;
  border-radius: 5px;
  background-color: white;
}

.footer-right .mc_timing:hover.mc_timing::after {
  background-color: #A6F52D;
}
/*/////// F O O T E R   R I G H T ///////*/

/* ///////////////////////////////////////////////// */
/* //////////////    F  O O T E R      ///////////// */
/* ///////////////////////////////////////////////// */


/* ************************************************* */
/* *******     M E D I A    Q U E R I E S   ******** */
/* ************************************************* */

/* // x-Small devices  */
@media all and (max-width: 575px) {
  /* body {
    background-color: red;
  } */
  
}

/* // Small devices (landscape phones, 576px and up)  */
@media all and (min-width: 576px) {
  /* body {
    background-color: blue;
  } */
}

/* // Medium devices (tablets, 768px and up) */
@media all and (min-width: 768px) {
  /* body {
    background-color: pink;
  } */
}

/* // Large devices (desktops, 992px and up) */
@media all and (min-width: 992px) {
  /* body {
    background-color: rgba(245, 231, 231, 0.822);
  } */
}

/* ///////////////////////////////////////////////// */
/* /////////   M E D I A    Q U E R I E S    /////// */
/* ///////////////////////////////////////////////// */