/* ************************************************* */
/* *************     G E N E R A L     ************* */
/* ************************************************* */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.debug {
  background-color: rgba(238, 26, 11, 0.1);
}

.mc_colorwhite {
  color: white;
}

.mc_colorgrey {
  color: #7B7B7A;
}

.mc_b_radius {
  border-radius: 50%;
}

.mc_margin_left {
  margin-left: 10px;
}

.mc_margin_left_20 {
  margin-left: 20px;
}

.mc_margin_right {
  margin-right: 20px;
}

.mc_text_align_c {
  text-align: center;
}

.mc_clearfix {
  content: '';
  display: table;
  clear: both;
}

.mc_float_left {
  float: left;
}

/*  B U T T O N */
.btn_logo,
.btn_text {
  height: 100%;
  float: left;
}

.btn_logo {
  height: 40px;
  width: 25%;
  text-align: center;
  color: #7B7B7A;
}

.btn_logo img {
  height: 100%;
  filter: brightness(0.5);
}

.btn_text {
  width: 75%;
  height: 100%;
  font-size: 0.9em;
  line-height: 40px;
  font-weight: 500;
}

/*  B U T T O N */

body {
  font-family: 'Montserrat', sans-serif;
}

.container-general {
  position: relative;
  width: 100%;
  height: 100vh;
}

/* ///////////////////////////////////////////////// */
/* //////////////    G E N E R A L     ///////////// */
/* ///////////////////////////////////////////////// */


/* ************************************************* */
/* ***************     M  A  I  N  ***************** */
/* ************************************************* */

main {
  max-width: 100%;
  height: calc(100vh - 90px);
  /* background-color: #3e68b6; */
}

main::after {
  content: "";
  display: table;
  clear: both;
}

/* *****    M  A I N   N  A  V   ******* */
/* logo */
main .main_nav {
  float: left;
  width: 230px;
  height: 100%;
  /* background-color: darksalmon; */
}

main .main_nav .nav_top {
  height: calc(100% - 80px);
  background-color: #000000;
  overflow-y: auto;
  overflow-x: hidden;
}

main .main_nav .nav_top .nav_logo {
  padding-top: 15px;
  margin-left: 15px;
  height: 90px;
}

main .main_nav .nav_top .nav_logo img {
  width: 71%;
}

main .main_nav .nav_top .nav_logo_mobile {
  display: none;
  padding: 10px;
}

/* end logo */

/* left menu */
main .main_nav .nav_top .left_menu li {
  background-color: #000000;
  width: 230px;
  height: 40px;
  padding-left: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

main .main_nav .nav_top .left_menu li:hover {
  background-color: #272525;
  border-left: 4px solid #A6F52D;
  color: white;
}

main .main_nav .nav_top .left_menu li:hover img {
  filter: brightness(1);
}

main .main_nav .nav_top .left_menu li:active {
  background-color: #363232;
  border-left: 4px solid #adf146b4;
}

main .main_nav .nav_top .left_menu ul li a {
  text-decoration: none;
}

/* end left menu */

/* playlist */
main .playlist {
  width: 230px;
  margin-top: 25px;
  padding-left: 20px;
}

main .playlist h3 {
  text-transform: uppercase;
  margin-bottom: 10px;
}

main .new_playlist {
  width: 210px;
  height: 50px;
  margin-bottom: 15px;
}

main .new_playlist:hover {
  cursor: pointer;
}

main .new_playlist:hover .new_playlist_logo {
  background-color: white;
}

main .new_playlist:hover .new_playlist_text {
  color: white;
}

main .new_playlist_logo {
  width: 24%;
  height: 100%;
  line-height: 50px;
  background-color: #808080;
  color: black;
  text-align: center;
  font-size: 3.5em;
}

main .new_playlist_text {
  width: 76%;
  height: 100%;
  line-height: 50px;
  color: #7B7B7A;
  padding-left: 10px;
  font-weight: 700;
}

main .playlist ul {
  list-style: none;
  overflow-y: auto;
}

main .playlist li {
  margin-bottom: 15px;
}

main .playlist ul li a {
  text-decoration: none;
  color: #7B7B7A;
  font-size: 0.9em;
}

main .playlist ul li a:hover {
  color: white;
}

/* playlist end*/

/* nav bottom */
main .main_nav .nav_bottom {
  height: 80px;
  width: 230px;
  background-color: #000000;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main .install_app,
main .user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 40px;
  cursor: pointer;
}

main .install_app {
  border-bottom: 1px solid #7B7B7A;
  margin-bottom: 4px;
}

main .user:hover .user_name,
main .install_app:hover .install_app_text {
  color: white;
}

main .install_app:hover .install_app_img img {
  filter: brightness(1);
}

main .install_app_img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

main .install_app img {
  width: 100%;
  filter: brightness(0.5);
}

main .install_app_text {
  color: #7B7B7A;
  font-size: 0.9em;
}

main .user_img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border: 1px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  background-color: #7B7B7A;
}

main .user_name {
  color: white;
  font-weight: 700;
}

/* //// nav bottom ////*/

/* /////    M  A I N   N  A V  ////////*/

/* *****    M  A I N   C O N T E N T   ******* */
main .m_content {
  float: left;
  width: calc(100% - 230px);
  height: 100%;
  background-color: #141922;
  overflow-y: auto;
}

/* *****    C A L L   TO    A C T I O N  ******* */
main .m_content .call_to_action {
  height: 90px;
  background-color: rgba(14, 7, 7, 0.8);
  position: fixed;
  width: calc(100% - 230px);
  z-index: 998;
  text-align: center;

}

main .m_content .call_to_action ul {
  list-style: none;
}

main .m_content .call_to_action ul:after {
  content: '';
  display: table;
  clear: both;
}

main .m_content .call_to_action ul li {
  width: 240px;
  height: 45px;
  line-height: 45px;
  float: right;
  margin-right: 50px;
  margin-top: 20px;
  border-radius: 30px;
  border: 2px solid white;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.9em;
}

main .m_content .call_to_action li:active {
  background-color: rgba(14, 7, 7, 0.959);
}

main .m_content .call_to_action li:hover {
  transform: scale(1.2);
}

main .m_content .call_to_action ul li a {
  text-decoration: none;
  color: white;
}

/* ///////   C A L L   TO    A C T I O N  /////// */

/********* top menu *******/
main .m_content .top_menu ul {
  padding-top: 95px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  text-transform: uppercase;
}

main .m_content .top_menu ul li {
  padding: 10px;
  position: relative;
}

main .m_content .top_menu ul li:hover a {
  color: white;
}

main .m_content .top_menu ul li:active a {
  color: rgb(170, 148, 148);
}

main .m_content .top_menu ul li:hover .green_line {
  display: block;
}

main .m_content .top_menu ul li a {
  text-decoration: none;
  color: #7B7B7A;
  font-weight: 700;
}

main .green_line {
  position: absolute;
  left: 40%;
  width: 22px;
  height: 5px;
  background-color: #adf146b4;
  text-align: center;
  display: none;
}

/********* top menu end *******/

/********* covers *******/
main .covers {
  /* padding: 20px; */
  /* padding-top: 95px; */
}

main .covers h1 {
  margin-top: 30px;
  margin-bottom: 15px;
  margin-left: 20px;
}

main .row_covers {
  display: flex;
  /* background-color: chartreuse; */
  /* flex-direction: row;
  justify-content: flex-start; */
  /* flex-wrap:nowrap; */
  flex-wrap: wrap;
}

main .albums {
  width: 240px;
  height: 300px;
  cursor: pointer;
  margin-bottom: 20px;
  /* flex-grow: 2; */
  /* flex-shrink: 7; */
  /* background-color: blue; */
  text-align: center;
}

main .cover {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 20px;
  /* background-color: blanchedalmond; */
}

main .cover:hover img {
  filter: brightness(0.5);
}

main .cover:hover .play_me {
  display: block;
}

main .cover img {
  height: 100%;
}

main .cover_text {
  font-size: 0.9em;
}

main .cover_text h3 {
  margin-bottom: 5px;
}

main .cover .play_me {
  position: absolute;
  top: 0%;
  width: 200px;
  height: 200px;
  line-height: 240px;
  text-align: center;
  color: white;
  display: none;
}

/* .flex-container > div {

  width: 400px;
  height: 300px;
  margin: 20px;
  text-align: center;
  line-height: 300px;
  font-size: 30px;
}

.mc_cover {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  
}

.mc_cover img {
  width: 100%;
}

.mc_cover_text {
  width: 100%;
  height: 100px;
  
  padding: 0 auto;
  font-size: 0.6em;
}

.mc_cover_text h3,
.mc_cover_text p {
  height: 50px;
}

.mc_cover_text h3 {
  line-height: 50px;
}

.mc_cover_text p {
  line-height: 20px;
} */


/********* covers end *******/
/* /////    M  A I N   C O N T E N T  ////////*/

/* ///////////////////////////////////////////////// */
/* //////////////   M   A   I   N      ///////////// */
/* ///////////////////////////////////////////////// */
/*  */
/*  */
/*  */
/*  */
/*  */
/* ************************************************* */
/* ***************     F  O O T E R   ************** */
/* ************************************************* */
footer {
  height: 90px;
  width: 100%;
  background-color: #282828;
  position: fixed;
  z-index: 999;
  padding: 0 5px;
}

footer #player {
  display: flex;
  /* flex-shrink: 0; */
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

footer #player ul {
  list-style: none;
}

footer #player a {
  text-decoration: none;
  color: white;
}

footer #player a:hover {
  color: #A6F52D;
}

/* ********** P L A Y E R   S O N G *********/
#player .song {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#player .song .song_image {
  height: 90%;
}

#player .song .song_image img {
  height: 100%;
  margin-right: 10px;
}

#player .song .song_name {
  margin-right: 10px;
}

#player .song .song_name h4 {
  font-weight: 600;
  color: white;
}

#player .song .song_name p {
  font-size: 0.8em;
  color: #7B7B7A;
}

#player .song .song_fawsome .mc_f_awsome {
  padding: 5px;
}

/* /////////// P L A Y E R   S O N G  /////////*/

/* *********** P L A Y E R   C O N T R O L S  ********/
#player .controls {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#player .controls .controls_button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

#player .controls .controls_button ul li {
  display: inline-block;
  padding: 0 15px;
  font-size: 1.2em;
  vertical-align: middle;
}

#player .controls .controls_timing {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#player .controls .controls_timing .time {
  color: #999999;
  font-size: 12px;
  padding-right: 20px;
  padding: 0 5px;
}

#player .controls .controls_timing .timing_barr {
  height: 5px;
  width: 500px;
  border-radius: 5px;
  background-color: #99999A;
  cursor: pointer;
}

#player .controls .controls_timing .timing_barr:hover .barr {
  background-color: #A6F52D;
}

#player .controls .controls_timing .timing_barr .barr {
  position: relative;
  height: 100%;
  width: 20%;
  border-radius: 5px;
  background-color: white;
}

.controls_timing .barr_point {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: white;
  display: none;
}

.timing_barr:hover .barr_point {
  display: block;
}

/* ///////// P L A Y E R   C O N T R O L S  /////////*/

/* ****** P L A Y E R   A U D I O   V O L U M E  *****/
#player .volume {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#player .volume .volume_menu {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#player .volume .volume_menu li {
  padding-left: 15px;
}

#player .volume .volume_menu .volume_audio {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#player .volume .volume_menu .volume_audio a {
  padding-right: 10px;
}

/* qui creiamo la barra totale dell'volume */
#player .volume .volume_menu .volume_audio .volume_barr {
  height: 5px;
  width: 100px;
  border-radius: 5px;
  background-color: #99999A;
  cursor: pointer;
}

#player .volume .volume_menu .volume_audio .volume_barr .barr {
  position: relative;
  height: 100%;
  width: 25%;
  border-radius: 4px;
  background-color: white;
}

#player .volume .volume_menu .volume_audio .volume_barr:hover .barr {
  background-color: #A6F52D;
}

.volume_barr .barr .barr_point {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: white;
  display: none;
}

.volume_barr:hover .barr_point {
  display: block;
}

/* ****** P L A Y E R   A U D I O   V O L U M E  *****/

/* ///////////////////////////////////////////////// */
/* //////////////    F  O O T E R      ///////////// */
/* ///////////////////////////////////////////////// */
/*  */
/*  */
/*  */
/*  */
/* ************************************************* */
/* *******     M E D I A    Q U E R I E S   ******** */
/* ************************************************* */

/* // x-Small devices  */
@media all and (max-width: 575px) {

  /* body {
    background-color: red;
  } */
  main .main_nav .nav_top .nav_logo_mobile {
    display: block;
  }

  main .main_nav .nav_top .nav_logo {
    display: none;
  }

  main .main_nav {
    width: 50px;
  }

  main .main_nav .nav_top .left_menu li {
    width: 50px;
    padding-left: 5px;
  }

  main .btn_text {
    display: none;
  }

  main .playlist {
    display: none;
  }

  main .main_nav .nav_bottom {
    padding: 0 10px;
  }

  main .install_app {
    border-bottom: 1px solid transparent;
  }

  main .install_app_img {
    margin-left: 3px;
  }

  main .install_app_text {
    display: none;
  }

  main .user_name {
    display: none;
  }

  main .m_content {
    width: calc(100% - 50px);
  }

  main .m_content,
  main .m_content .call_to_action {
    width: calc(100% - 50px);
  }

  main .m_content .call_to_action ul li {
    width: 180px;
    margin-right: 2%;
  }

  #player .song .song_name {
    display: none;
  }

  #player .song .song_image {
    height: 60%;
  }

  /* #player .song_fawsome .far.fa-heart.mc_f_awsome,
  #player .song_fawsome .far.fa-folder.mc_f_awsome {
    display: none;
  } */
  #player .volume .fas.fa-desktop,
  #player .volume .fas.fa-list-ul {
    display: none;
  }

  #player .controls .controls_button ul li {
    padding: 5px;
    font-size: 0.7em;
  }

  #player .controls .controls_timing .timing_barr {
    width: 70px;
  }

  #player .volume .volume_menu .volume_audio .volume_barr {
    display: none;
  }
}

/* // Small devices (landscape phones, 576px and up)  */
@media all and (min-width: 576px) {

  /* body {
    background-color: blue;
  } */
  main .m_content .call_to_action ul li {
    width: 240px;
    margin-right: 2%;
  }

  main .btn_text {
    display: block;
  }

  main .main_nav .nav_top .left_menu li {
    width: 230px;
    padding-left: 10px;
  }

  main .playlist {
    display: block;
  }

  main .main_nav .nav_bottom {
    padding: 0 20px;
  }

  main .install_app {
    border-bottom: 1px solid #7B7B7A;
  }

  main .install_app_img {
    margin-left: 0px;
  }

  main .install_app_text {
    display: block;
  }

  main .user_name {
    display: block;
  }

  /* #player .song_fawsome .far.fa-heart.mc_f_awsome,
  #player .song_fawsome .far.fa-folder.mc_f_awsome {
    font-size: 1em;
    display: block;
  } */
  #player .song .song_name {
    display: block;
  }

  #player .controls .controls_button ul li {
    padding: 5px;
    font-size: 1em;
  }

  #player .controls .controls_timing .timing_barr {
    width: 200px;
  }

  #player .volume .volume_menu .volume_audio .volume_barr {
    width: 60px;
  }

  #player .volume .volume_menu .volume_audio .volume_barr {
    display: none;
  }

  #player .volume .fas.fa-desktop,
  #player .volume .fas.fa-list-ul {
    display: block;
    font-size: 1em;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media all and (min-width: 768px) {
  #player .volume .volume_menu .volume_audio .volume_barr {
    width: 100px;
  }

  #player .song .song_image {
    height: 90%;
  }

  #player .volume .fas.fa-desktop,
  #player .volume .fas.fa-list-ul {
    display: block;
  }

  #player .volume .volume_menu .volume_audio .volume_barr {
    display: block;
  }
}

/* // Large devices (desktops, 992px and up) */
@media all and (min-width: 992px) {

  /* body {
    background-color: rgba(245, 231, 231, 0.822);
  } */
  #player .controls .controls_timing .timing_barr {
    height: 5px;
    width: 500px;
    border-radius: 5px;
    background-color: #99999A;
    cursor: pointer;
  }
}

/* ///////////////////////////////////////////////// */
/* /////////   M E D I A    Q U E R I E S    /////// */
/* ///////////////////////////////////////////////// */